
@font-face {
    font-family: 'Titillium Web',Arial,sans-serif;
}   

body {
	background-color:#fff;
	font-family: 'Titillium Web',Arial,sans-serif;
	/*margin:0; padding:0; */

    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0
    10px
}

/*body{margin:40px
auto;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0
10px}*/
h1,h2,h3{line-height:1.2}

.maincontainer {
	width:800px;
	margin:auto; padding:0; 
}

.header {
    width:800px;
    margin:auto;
    margin:0; padding:0; 
}

.footer {
    width:800px;
    margin:auto;
    padding:0; 
    border-top: 1px solid #aaa;
    font-size:11px;
    text-align:center;
}

.main {
    width: 530px;
	font-size:14px;
	margin:0; padding:0; 
	float:left;
}

.main p { padding-top:0px; margin-top:0px; }

.main ul { padding:0px; line-height:1.5em;}
.main ul li { padding-bottom:10px;}
.contactbox {
    width:270px;
    margin:0; padding:0;   
    float:right;  
}

.contact {
    width:230px;
    margin:auto; padding:0;
    font-size:13px;
}

.main a, .contact a, .footer a { color:#4e9258; text-decoration:none; }

.maincontainer h1, .header h1, .main h1 { 
    font-family: 'Titillium Web', serif;
}

.header h1 {
    font-size:50px;
}

.main h1 { 
    font-size:30px; 
}

.contact p {
    margin:0; padding-top:3px;
}

.contact img {
    margin:auto; padding:0px;
    width:230px;
}

/*.qq { 
	color:#fff;
	font-family: serif;
	margin: 2px 0 0 -18px;
	font-size: 17px;
	position: absolute;
}*/

.social { width:160px; margin:auto; padding-top:20px;}
.social a { color:#000; }
.fb a:hover { color:#3b5998; }
.twit a:hover { color:#00aced; }
.gp a:hover { color:#dd4b39; }
.lin a:hover { color:#007bb6; }
.gh a:hover { color:#4e9258; }
.qu a:hover { color:#990000; }
.so a:hover { color:#ff9900;}

