<p class="pull-right visible-xs">
  <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
</p>
<div class="sidebar-offcanvas affix" id="sidebar" role="navigation">
<ul class="nav nav-list">
  <li class="nav-header">Users Guide</li>
  {% assign pages_list = site.pages %}
  {% assign group = 'usersguide' %}
  {% include pages_list %}
  <li class="nav-header">Tutorials</li>
  {% assign pages_list = site.pages %}
  {% assign group = 'tutorial' %}
  {% include pages_list %}
  <li class="nav-divider"></li>
  <li class="nav-noindent"><a href="http://www.iesl.cs.umass.edu">IESL</a></li>
  {% assign suffix_pages_list = site.pages %}
  {% assign group = 'suffix' %}
  {% include suffix_pages_list %}
  <li class="nav-noindent"><a href="https://groups.google.com/a/factorie.cs.umass.edu/forum/#!forum/discuss">Mailing List</a></li>  
</ul>
</div> <!--bs-sidebar affix-->
